doctype html
html(lang='')
  head
    meta(charset='UTF-8')
    title Endless Runner project
    script(src='js/phaser.min.js')
    script(src='js/main.js')
    script(src='js/stateMain.js')
    script(src='js/stateOver.js')
  body